@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #f8fafc;
  color: #0f172a;
}

* {
  box-sizing: border-box;
}

body {
  background: #f8fafc;
  color: #0f172a;
  font-family: var(--font-be-vietnam-pro), sans-serif;
}